@media only screen and (max-width: 980px)
  .global-stats
    max-width: none

    .stat
      &:first-child .stat-number
        border-left: 0

      &:last-child .stat-number
        border-right: 0

@media only screen and (max-width: 960px)
  .speaker-list
    padding: 2px 6px 0 12px

  .speaker
    width: 50%

@media only screen and (min-width: 800px) and (max-width: 960px)
  .speaker-list
    max-width: 720px
    margin: 0 auto

@media only screen and (max-width: 820px)
  .main-menu
    max-width: 402px
    padding: 79px 0 37px

    .tickets,
    .video
      width: 50%
      border-bottom: 0

    .tickets
      border-right-width: 1px

    .video
      border-left-width: 1px

  .countdown
    margin: 0

@media only screen and (max-width: 670px)
  .speaker-list
    margin: 0 auto
    max-width: 360px
    padding: 2px 0 0

  .speaker
    width: 100%
    margin: -2px 0 0

@media only screen and (max-width: 599px)
  .global-stats
    display: none

@media only screen and (max-width: 540px)
  .container
    padding: 0 10px

@media only screen and (max-width: 500px)
  .intro-holder
    background: #ffc81c

@media only screen and (max-width: 480px)
  .section-header
    time,
    .adr
      display: block

    .adr
      margin: 7px 0 0

@media only screen and (max-width: 420px)
  .main-menu
    margin: 0 -10px
    max-width: none

    .tickets
      border-left-width: 0

    .video
      border-right-width: 0

  .speaker-list
    margin: 0 -10px
    max-width: none

  .speaker
    border-width: 2px 0

  .countdown
    .counter
      &:first-child
        border-left-width: 0
      &:last-child
        border-right-width: 0

@media only screen and (max-width: 400px)
  .section-header
    address
      font-size: 16px

    .hello
      font-size: 34px

    code
      font-size: 11px

@media only screen and (max-width: 370px)
  .main-menu
    padding: 158px 0 37px

    .tickets, 
    .video
      width: 100%
      border-width: 2px 0 0

    .tickets
      top: 0
      left: 0
      right: 0

    .video
      top: 79px
      right: 0
      left: 0

  .countdown
    .counter      
      font-size: 15px
      line-height: 24px

      strong
        height: 70px
        font-size: 30px
        line-height: 75px