// A weird octopus
.section-footer
  background: $yellow
  color: $text
  text-align: center
  line-height: 200%

  small
    display: block
    font-size: 14px
    color: $brownish

  p
    color: $text
    margin-top: 5px
    a
      color: $text
      text-decoration: underline

  code
    margin: 45px 0 65px 0


.footer-illustration
  background: url(images/illustration-footer.png) no-repeat 50% 0%
  background-color: $blue
  height: 386px
